#title-bar-buttons {
  position: absolute;
  top:0;
  right: 0;
  display: flex;
  height: 26px;
  flex-direction: row;
  justify-content: flex-end;
  transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  background-color: var(--background-color-20l);
  clip-path: inset(0px 0px -15px 0px);


  .drag {
    -webkit-app-region: drag;
    flex: 1;
  }

  app-icon {
    &::ng-deep svg {
      fill: var(--foreground-color-20d);
    }
  }

  .btn-flat {
    border: none;
    background-color: #00000000;
    color: var(--foreground-color);
    /*cursor: pointer;*/
    outline: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    app-icon {
      height: 14px;
      width: 24px;

      ::ng-deep svg {
        height: 14px;
        width: 24px;
      }
    }

    &:hover {
      background-color: var(--background-color-40l);
    }

    &.close:hover {
      background-color: var(--highlight-color);

      app-icon ::ng-deep svg {
        fill: var(--background-color);
      }
    }
  }
}
