:host {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.main {
  flex: 1;
  position: relative;
  z-index: 1;
  app-grid {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    &.hidden {
      transform: translateX(-1000000px);
    }
  }
}

app-side-menu {
  z-index: 2;
}


