<nav class="tab-list" data-tauri-drag-region>
    @for (tab of tabs | async; track tab.id) {
        <button
                type="button"
                class="tab"
                [class.is-active] = tab.isActive
                [style.background-color]="tab.color ? `var(--color-${tab.color}-ct2)` : undefined"
                [animate.enter]="'animate-tab-enter'"
                [animate.leave]="'animate-tab-leave'"
                [attr.data-tab-id]="tab.id"
                appTooltip="{{tab.title}}"
                (click)="selectTab(tab.id)"
                (mouseup)="closeTabMiddle($event, tab.id);"
                (contextmenu)="buildContextMenu($event, tab.id)"
        >
            <span class="icon"><app-icon [name]="iconForShell(tab.activeShellType)"></app-icon></span>
            @if (showRename()===tab.id) {
                <input
                    #renameInput
                    autocomplete="off"
                    spellcheck="false"
                    data-private="off"
                    autocorrect="off"
                    (keyup.esc)="$event.stopPropagation(); closeRename()"
                    (keyup.enter)="$event.stopPropagation(); commitRename(renameInput.value);"
                    (blur)="commitRename(renameInput.value);">
            } @else {
                <span class="title">{{ tab.title }}</span>
            }

            <span class="close" (click)="$event.stopPropagation(); closeTab(tab.id)">
                <app-icon name="mdiClose"></app-icon>
            </span>
        </button>
    }
    <div class="tab-list-btns">
        <button class="button icon-button" (click)="$event.stopPropagation(); addTab()" appTooltip="New Tab" [appTooltipSecondary]="'new_tab' | actionkeybinding"><app-icon name="mdiPlus"></app-icon></button>
        <app-menu-button></app-menu-button>
    </div>
</nav>
