<h1>Version 1.7.0</h1>
<h2>Improvements 🙌 and Bug Fixes 🐛</h2>
<ul>
  <li>
    <strong>Revamped Shell Integration</strong>
    <i>
      Completely reworked shell status monitoring now supports custom prompts and engines like Oh-my-posh.
    </i>
  </li>
  <li>
    <strong>Workspace Autosave</strong>
    <i>
      Activate autosave for workspaces to automatically save changes when tab arrangements are modified.
    </i>
  </li>
  <li>
    <strong>Enhanced Styling Options</strong>
    <i>
      Adjust the application’s font size (separate from the terminal), customize prompt decoration colors, and remove padding in full-size apps like Vim.
    </i>
  </li>
  <li>
    <strong>Updated Command Menu</strong>
    <i>
      Execution times for commands are now displayed in the Command Menu.
    </i>
  </li>
  <li>
    <strong>Flexible Autocompleter</strong>
    <i>
      Choose between real-time suggestions on every keystroke or trigger them with <pre>Ctrl</pre>+<pre>Space</pre>.
    </i>
  </li>
  <li>
    <strong>Auto Resizable Tabs</strong>
    <i>
      Tabs now automatically adjust their size to fit the displayed content. They can also expand to utilize more space, allowing for the display of additional information.
    </i>
  </li>
  <li>
    <strong>Open Next Tab in Same Directory</strong>
    <i>
      Newly opened tabs will now default to the same directory as the previously active tab.</i>
  </li>
  <li>
    <strong>Improved Autocompleter Plugin Handling</strong>
    <i>
      Autocompleter plugins now have a maximum execution time of 500ms, preventing them from slowing down the built-in autocompleter. Additionally, plugin errors are now displayed as notifications, making it easier to identify and remove faulty plugins.
    </i>
  </li>
  <li>
    <strong>Improved Sticky Header Behavior</strong>
    <i>
      Sticky headers are now hidden during running processes or commands, ensuring they no longer cover output, which was problematic for commands like <code>git log</code>.
    </i>
  </li>
  <li>
    <strong>Optimized Memory Usage</strong>
    <i>
      Improved memory management for shell sessions.
    </i>
  </li>
</ul>
<h1>Version 1.6.0</h1>
<h2>New Features 🚀</h2>
<ul>
  <li>
    <strong>Global Keytips Shortcut</strong>
    <i>
      Users can now press <pre>Ctrl</pre>+<pre>K</pre> to reveal keytips that apply globally across all tabs and panes. This allows for efficient navigation and quick access to common actions, making it easier to control the application entirely by keyboard.
    </i>
  </li>
  <li>
    <strong>Context-Relevant Keytips Shortcut</strong>
    <i>
      By pressing <pre>Ctrl</pre>+<pre>Shift</pre>+<pre>K</pre>, users can view keytips specific to the active tab. This provides targeted shortcuts relevant to the current context, helping users streamline actions within specific areas of the terminal.
    </i>
  </li>
</ul>
<h2>Improvements 🙌 and Bug Fixes 🐛</h2>
<ul>
  <li>
    <strong>Resolved EPIPE Error on Workspace Switch</strong>
    <i>
      An issue causing an EPIPE error when switching between workspaces has been fixed. Users can now move between workspaces smoothly without encountering this error.
    </i>
  </li>
</ul>
<h1>Version 1.5.0</h1>
<h2>New Features 🚀</h2>
<ul>
  <li>
    <strong>Command Editor for Autocomplete Suggestions</strong>
    <i>
      Users can now edit and customize commands that appear in the autocomplete menu. This allows for personalization of frequently used commands and improves efficiency by tailoring autocomplete suggestions to individual workflows.
    </i>
  </li>
  <li>
    <strong>Placeholder Support in Commands</strong>
    <i>
      Commands can now include placeholders, enhancing the flexibility and reusability of complex commands.
    </i>
  </li>
  <li>
    <strong>Plugin-Reactive Autocomplete for Placeholders</strong>
    <i>
      When a command with a placeholder is selected in the autocompleter, plugins can respond by displaying specialized autocompletion suggestions. This enables context-aware and dynamic command completion.
    </i>
  </li>
  <li>
    <strong>Sticky Commands</strong>
    <i> Executed commands now remain visible at the top of the screen. When scrolling through output, the command stays pinned for easy reference, improving context awareness when reviewing long command outputs.
    </i>
  </li>
  <li>
    <strong>Command Action Menu</strong>
    <i>
      Each command now has an associated menu with various options. Users can quickly scroll to the beginning or end of output, copy the command or its output, add bookmarks within the output, and access other relevant features.
    </i>
  </li>
</ul>
<h2>Improvements 🙌 and Bug Fixes 🐛</h2>
<ul>
  <li>
    <strong>Enhanced Command Output Visualization</strong>
    <i>
      A colored line now appears to the left of each command in the output. Green indicates successful command execution, while red indicates command failure, providing quick visual feedback on command status.
    </i>
  </li>
  <li>
    <strong>Fixed "Missing Main Window on MacOS" issue</strong>
    <i>
      The problem that caused the main application window to fail to appear when launching Cogno on MacOS has been resolved. Users can now open and use Cogno on their Mac devices without encountering this error.
    </i>
  </li>
  <li>
    <strong>Issue with Terminal Window Focus Fixed</strong>
    <i>
      When creating a new terminal window with multiple panes open, the new window was not being focused automatically. This issue has now been resolved.
    </i>
  </li>
</ul>
<h1>Version 1.4.0</h1>
<h2>New Features 🚀</h2>
<ul>
  <li>
    <strong>Plugin-System for Autocompleter</strong>
    <i>
      Cogno Terminal now supports a Plugin-System for the autocompleter, providing users with the flexibility to
      customize and extend autocompletion functionality. To get started with the Plugin-System, please refer to our documentation on plugin development available <a (click)="openPluginDocumentation()">here</a>.
    </i>
  </li>
  <li>
    <strong>New Prompt Styles</strong>
    <i>
      In the theme settings, you will find 12 new awesome prompt styles. Including 8 styles, that display your current Git branch in the prompt.
    </i>
  </li>
</ul>
<h2>Improvements 🙌 and Bug Fixes 🐛</h2>
<ul>
  <li>
  <strong>Overhaul of the shell input handler</strong><i> The input now recognizes more shortcuts for selecting text. For example, you can now mark words with
  <pre>CommandOrControl</pre>
  +
  <pre>Shift</pre>
  +
  <pre>⇦</pre>
  or
  <pre>CommandOrControl</pre>
  +
  <pre>Shift</pre>
  +
  <pre>⇨</pre>
  .</i>
  <li>
    <strong>Improved treatment of shortcuts</strong>
    <i>
      Duplicate shortcuts are now both shown in the settings and trigger a warning dialog when used.
    </i>
  </li>
  <li>
    <strong>Update All Dependencies to New Versions</strong>
    <i>
      In this release, we've updated all dependencies to their latest versions, enhancing the overall stability and security of Cogno Terminal.
    </i>
  </li>
</ul>
<h1>Version 1.3.2</h1>
<h2>Bug Fixes 🐛</h2>
<ul>
  <li>
    <strong>Fix slow loading of Workspace List</strong>
    <i>
      We've significantly speed up the workspace list loading times, ensuring a smoother and more responsive experience.
    </i>
  </li>
  <li>
    <strong>Disabled cognitive shortcuts when programs such as nano, vim, etc., are running.</strong>
    <i>
      This ensures a smoother user experience and prevents unintended actions while working within these environments.
    </i>
  </li>
</ul>
<h1>Version 1.3.1</h1>
<h2>Bug Fixes 🐛</h2>
<ul>
  <li>
    <strong>Fixed incorrect positioning of autocomplete</strong>
    <i>
      In some cases, the autocomplete popup were being incorrectly positioned. This has been fixed.
    </i>
  </li>
  <li>
    <strong>Support hyperlink ansi escapes</strong>
    <i>
      Ansi escaped hyperlinks now open as usual in the browser.
    </i>
  </li>
</ul>
<h1>Version 1.3.0</h1>
<h2>New Features 🚀</h2>
<ul>
  <li>
    <strong>Visual Command Highlighting</strong>
    <i>
      Commands are now visually highlighted.
      Each executed command in the terminal is framed on the left, indicating whether the command was successful or not.
    </i>
  </li>
  <li>
    <strong>New Command Execution Menu</strong>
    <i>
      A new menu for executed commands has been added.
      You can now quickly jump to the beginning and end of the output, copy the command, or copy the output.
    </i>
  </li>
</ul>
<h2>Improvements 🙌 and Bug Fixes 🐛</h2>
<ul>
  <li>
    <strong>Improved Second Instance Startup</strong>
    <i>
      Starting a second instance of Cogno is now significantly faster and consumes less memory.
    </i>
  </li>
  <li>
    <strong>Workspace Information in Dock</strong>
    <i>
      Open workspace names are displayed at the bottom of the operating system's dock.
      With multiple open instances, you can instantly see which instance has opened which workspace.
    </i>
  </li>
  <li>
    <strong>More Space for your Tabs</strong>
    <i>
      The algorithm that determines the available tab width has been improved. This allows tabs in split windows to take
      up more space.
    </i>
  </li>
  <li>
    <strong>Enhanced Command Execution Recognition</strong>
    <i>
      Commands and their outputs are now detected more reliably.
    </i>
  </li>
</ul>
<h1>Version 1.2.0</h1>
<h2>New Features 🚀</h2>
<ul>
  <li>
    <strong>Background images from online sources</strong><i> It is now possible to use background images from online
    sources. For example, use <a (click)="openLoremPicsum()">Lorem Picsum</a> to have a new background image every time
    you start Cogno.</i>
  </li>
  <li>
    <strong>Debug internal states</strong><i> If you are developing for Cogno, there is now a debug section for states
    in addition to the DevTools. Accessible through the About Tab.
  </i>
  </li>
</ul>
<h2>Improvements 🙌 and Bug Fixes 🐛</h2>
<ul>
  <li>
    <strong>Overhaul of the shell input handler</strong><i> The shell now behaves more like an editor. For example, it
    is now possible to set selections using <pre>Shift</pre>+<pre>⇦</pre> or <pre>Shift</pre>+<pre>⇨</pre>.</i>
  </li>
  <li>
    <strong>Overhaul of the shortcut configuration and shortcut detection</strong><i> It is now possible to delete
    shortcuts, and the processing of shortcuts has been accelerated by a factor of 10.</i>
  </li>
  <li>
    <strong>Fixed incorrect positioning of autocomplete and menus</strong><i> In some cases, the autocomplete popup and
    certain menus were being incorrectly positioned or not responding to click events. This has been fixed.</i>
  </li>
  <li>
    <strong>You can now set a timeout for the start of a shell or SSH session</strong><i> The timeout was previously
    fixed at 5 seconds, but in some cases, this was not sufficient. Opening a tab seemed to be faulty in such cases.
    Now, you can configure the timeout in the shell settings.</i>
  </li>
  <li>
    <strong>You can now use an underline as a cursor style</strong>
  </li>
  <li>
    <strong>Dependencies have been updated</strong>
  </li>
</ul>
<h1>Version 1.1.0</h1>
<h2>New Features 🚀</h2>
<ul>
  <li>
    <strong>SSH connections and Docker containers</strong><i> SSH connections and Docker containers can now be managed
    in the general settings.</i>
  </li>
  <li>
    <strong>Autocompletion on remote systems</strong><i> Autocompletion is now available for SSH and Docker container,
    without needing to install anything on the remote system. Please read the <a (click)="openRemoteDocumentation()">documentation</a>.</i>
  </li>
  <li>
    <strong>Support for OSC 52 signal</strong><i></i>
  </li>
  <li>
    <strong>Support for "right-click paste" and "copy on select"</strong><i></i>
  </li>
  <li>
    <strong>Cogno is now available on Intel Macs</strong><i></i>
  </li>
</ul>
<h2>Improvements 🙌 and Bug Fixes 🐛</h2>
<ul>
  <li>
    <strong>Improved workspace management</strong><i> The selected workspace is now highlighted and it is indicated
    whether a workspace is currently selected.</i>
  </li>
  <li>
    <strong>Several minor bugs have been fixed to improve the overall reliability of Cogno</strong><i></i>
  </li>
</ul>
<h1>Version 1.0.0</h1>
<h2>New Features 🚀</h2>
<ul>
  <li>
    <strong>Highlighting and fast scrolling via shortcut to prompts</strong><i> In the settings you can now activate
    the marking of prompts in the scrollbar area. Using shortcut
    <pre>Ctrl</pre>
    +
    <pre>Shift</pre>
    +
    <pre>⇧</pre>
    or
    <pre>Ctrl</pre>
    +
    <pre>Shift</pre>
    +
    <pre>⇩</pre>
    you can quickly jump to the previous or next prompt.</i>
  </li>
  <li>
    <strong>Display of the currently executed command</strong><i> In the bottom right corner of the footer you can see
    the command you just executed and whether it was executed successfully.</i>
  </li>
  <li>
    <strong>Dark Mode</strong><i> In the settings you can now choose a dark mode theme. This will become the active
    theme if your operating system has dark mode enabled and you can toggle it via a button in the header.</i>
  </li>
</ul>
<h2>Improvements 🙌 and Bug Fixes 🐛</h2>
<ul>
  <li>
    <strong>Improved autocomplete</strong>
    <ul>
      <li>
        <i> As you are used to from other applications, autocomplete is now always displayed directly at the cursor and
          no longer disappears at small windows.</i>
      </li>
      <li>
        <i> Autocomplete now runs asynchronously and no longer interferes
          with terminal output rendering.</i>
      </li>
      <li>
        <i> Commands that are terminated with an error code are now ignored and not displayed as a suggestion.</i>
      </li>
      <li>
        <i> Deleting directories or commands from the autocomplete directory now works more stable.</i>
      </li>
      <li>
        <i> Your commands and the directory structure are now stored independently. This makes it easier to transfer
          your commands to other machines.</i>
      </li>
    </ul>
  </li>
  <li>
    <strong>Improved shell configuration</strong><i> You can now add as many shells with different configurations as
    you like. This gives us many new possibilities, e.g. autocomplete support in ssh session. Be curious.</i>
  </li>
  <li>
    <strong>Fixed history in Powershell</strong><i> When starting a Powershell session, the history is now not corrupted
    by the autocompleter injection.</i>
  </li>
  <li>
    <strong>More stable detection of the terminal status</strong><i> This helps to make the Autocompleter more robust
    and opens up completely new possibilities. </i>
  </li>
  <li>
    <strong>Improved search menu</strong><i> The search is now displayed at the top of the terminal window.</i>
  </li>
  <li>
    <strong>Many small improvements in the visual presentation</strong> <i> We reworked the style and used the brush in
    many places. For example, the sliders between the windows are now highlighted when you move the mouse over them. Or
    the area where you can move the window with the mouse is now not so confusingly arranged. And many more.</i>
  </li>
</ul>
<h1>Version 0.16.*</h1>
<h2>New Features 🚀</h2>
<ul>
  <li>
    <strong>Support for powerline prompts</strong><i> In the settings you can now choose between different prompts,
    including powerline prompts. In the future, you will get even more options here.</i>
  </li>
  <li>
    <strong>Editable terminal font-weight</strong><i> You can now choose a font-weight for your terminal in the theme
    editor.</i>
  </li>
</ul>
<h2>Improvements 🙌</h2>
<ul>
  <li>
    <strong>Redesigned and improved autocompletion</strong><i> You now keep your suggestions between compatible shells
    and suggestions for 'cd' now also work for non child directories.</i>
  </li>
  <li>
    <strong>Workspaces now also save and restore the dimensions of the individual panes</strong><i> In the past, panes
    were split 50/50 when loaded, even if you customized the size. Now the customized size is kept.</i>
  </li>
</ul>
<h2>Bug Fixes 🐛</h2>
<ul>
  <li>
    Rendering of fonts in light themes was fixed.
  </li>
</ul>
<h1>Version 0.15.*</h1>
<h2>Improvements 🙌</h2>
<ul>
  <li>
    <strong>Better search capabilities</strong><i> Now all search hits are marked. In addition, you can see in an
    overview ruler on the right side of the terminal window how many hits there are and where they are located.</i>
  </li>
  <li>
    <strong>Prompts can be highlighted and you can easily jump between them</strong><i> You can highlight all prompts
    with
    <pre>Ctrl</pre>
    +
    <pre>Shift</pre>
    +
    <pre>K</pre>
    .</i>
  </li>
  <li>
    <strong>Advanced feature can be deactivated</strong><i> If you don't need the advanced features like
    autocompletion, you can disable it now in the general settings dialog.</i>
  </li>
</ul>
<h1>Version 0.14.*</h1>
<h2>New Features 🚀</h2>
<ul>
  <li>
    <strong>Versions for MacOS and Linux are available</strong><i> You can now download it on <a (click)="openCogno()">www.cogno.rocks</a>.</i>
  </li>
  <li>
    <strong>Z-Shell support on Linux and MacOS</strong>
  </li>
  <li>
    <strong>In the theme editor you can now use emojis as prompt text</strong> <i>🥳🖖🙌💪🎉✨</i>
  </li>
  <li>
    <strong>Force Autocompletion</strong>
    <i>You can force an autocompletion in the current directory by pressing
    <pre>Ctrl</pre>
    +
    <pre>Space</pre>
    .
    </i>
  </li>
</ul>
<h2>Improvements 🙌</h2>
<ul>
  <li>
    <strong>WebGL is now used to render the terminal output</strong><i> This speeds up frame rendering by up to 900%.
    Read more <a (click)="openWebgl()">here</a>.</i>
  </li>
  <li>
    <strong>Some visual improvements like better tab height or better visible search</strong>
  </li>
  <li>
    <strong>The actions overview is now available via a "normal" shortcut and can be changed</strong><i> The default
    shortcut is now
    <pre>Ctrl</pre>
    +
    <pre>^</pre>
    .</i>
  </li>
</ul>
<h2>Bug Fixes 🐛</h2>
<ul>
  <li>
    <i>
    Duplicate text insertion with
    <pre>Ctrl</pre>
    +
    <pre>v</pre>
    on Windows was fixed.
    </i>
  </li>
</ul>
<h1>Version 0.13.*</h1>
<h2>New Features 🚀</h2>
<ul>
  <li>
    <strong>Editable terminal fonts-size</strong><i> You can now choose a font-size for your terminal in the theme
    editor.</i>
  </li>
</ul>
<h2>Bug Fixes 🐛</h2>
<ul>
  <li>
    Freezing the terminal on heavy output was fixed.
  </li>
  <li>
    Wrong positioning of the autocompleter was fixed.
  </li>
  <li>
    Opening of the developer tools was fixed.
  </li>
  <li>
    A lot of small UI bugs were fixed.
  </li>
</ul>
<h1>Version 0.12.*</h1>
<h2>New Features 🚀</h2>
<ul>
  <li>
    <strong>Onboarding-dialog for new users</strong><i> New users are now shown a welcome-basic-settings-dialog.</i>
  </li>
  <li>
    <strong>Support for background images</strong><i> You can now choose a background image for your terminal in the
    theme editor.</i>
  </li>
  <li>
    <strong>Support for fonts</strong><i> You can now choose a font for your terminal in the theme editor.</i>
  </li>
  <li>
    <strong>Issue Tracker</strong><i> In the drop down menu you will now find a direct link to an issue tracker.</i>
  </li>
  <li>
    <strong>Donation Provider</strong><i> In the drop down menu you will now find a direct link to an donation provider.
    Thank you for every donation!</i>🙏
  </li>
  <li>
    <strong>Discord Server</strong><i> In the drop down menu you will now find a direct link to my Discord-Server. If
    you have any questions, ideas or feedback... feel free to write a message.</i>
  </li>
</ul>
<h2>Improvements 🙌</h2>
<ul>
  <li>
    <strong>You can restore a theme that was accidentally deleted</strong>
  </li>
</ul>
<h2>Bug Fixes 🐛</h2>
<ul>
  <li>
    The sending of wrong telemetry data was fixed.
  </li>
</ul>
<h1>Version 0.11.*</h1>
<h2>Improvements 🙌</h2>
<ul>
  <li>
    <strong>Better tab names</strong><i> The tab name shows now the currently running command and the working
    directory.</i>
  </li>
</ul>
<h2>Bug Fixes 🐛</h2>
<ul>
  <li>
    Crash back to windows should be solved now.
  </li>
  <li>
    The busy marker for tabs now always shows the correct status.
  </li>
  <li>
    A few visual bugfixes for light themes.
  </li>
  <li>
    Fixed error while opening File-Dialog in the settings.
  </li>
  <li>
    Fixed error while installing Cogno on a system without git.
  </li>
  <li>
    Fixed automatic git detection.
  </li>
</ul>
<h1>Version 0.10.*</h1>
<h2>New Features 🚀</h2>
<ul>
  <li>
    <strong>Shortcuts and aliases can now be changed directly in the application</strong><i> You will find in the
    settings editor a section for shortcuts and aliases.</i>
  </li>
  <li>
    <strong>Added a Shortcuts overview</strong><i> With double pressing
    <pre>Ctrl</pre>
    you can open an overview of all shortcuts and execute them directly.</i>
  </li>
</ul>
<h2>Bug Fixes 🐛</h2>
<ul>
  <li>
    Even if many tabs are open, panes are now split 50/50.
  </li>
  <li>
    Fixed high gpu workload even the opacity of the window is set to 100%.
  </li>
</ul>
<h1>Version 0.9.*</h1>
<h2>New Features 🚀</h2>
<ul>
  <li>
    <strong>We are now collecting telemetry data</strong><i> You can disable this in the settings editor, but it would
    be super nice if you left it enabled. </i>🙏<i> Seeing the number of users grow is super motivating.</i>
  </li>
  <li>
    <strong>Basic settings can now be changed directly in the application</strong><i> We have started to create a
    settings editor. At the moment, only basic settings can be changed.</i>
  </li>
  <li>
    <strong>Compatible installed shells on your system are now automatically detected</strong><i> Shells are now
    automatically listed in the Settings Editor. You can activate them and make basic settings.</i>
  </li>
</ul>
<h2>Improvements 🙌</h2>
<ul>
  <li>
    <strong>Powershell Core is now supported</strong>
  </li>
  <li>
    <strong>The starting process of tabs was revised</strong><i> A shell in a new tab now starts much faster. At least
    half a second.</i>
  </li>
</ul>
<h1>Version 0.8.*</h1>
<h2>New Features 🚀</h2>
<ul>
  <li>
    <strong>The theme editor was revised</strong><i> You can now define your terminal colors and cursor size directly
    in the theme editor.</i>
  </li>
</ul>
<h2>Improvements 🙌</h2>
<ul>
  <li>
    <strong>Git-Bash history is now immediately available in every new tab</strong><i> Your history is now written and
    loaded properly. So you can navigate through your previous commands in a new tab with the arrow keys right after the
    start.</i>
  </li>
  <li>
    <strong>The check for updates was revised</strong><i> You no longer have to restart the application to receive an
    update notice.</i>
  </li>
</ul>
<h2>Bug Fixes 🐛</h2>
<ul>
  <li>
    Whitespace in directory names are handled correctly by the autocompleter in powershell.
  </li>
</ul>
<h1>Version 0.7.*</h1>
<h2>New Features 🚀</h2>
<ul>
  <li>
    <strong>Save and restore your tabs and split panes arrangements - </strong><i>You can save your tabs and split panes
    arrangements as views
    <app-icon name="mdiViewDashboardOutline"></app-icon>
    , and restore them at any time.</i>
  </li>
</ul>
<h2>Improvements 🙌</h2>
<ul>
  <li>
    <strong>Close other tabs in group</strong>
    <i><pre>Ctrl</pre>
    +
    <pre>Shift</pre>
    +
    <pre>W</pre>
    closes all tabs in the split pane except the active one.</i>
  </li>
  <li>
    <strong>Close all tabs</strong>
    <i>
    <pre>Ctrl</pre>
    +
    <pre>Shift</pre>
    +
    <pre>Q</pre>
    closes all tabs and split panes.</i>
  </li>
  <li>
    Powershell:
    <ul>
      <li>Improvement of the recognition of the last executed command.</li>
      <li>Is now the default shell on windows if git bash is not available.</li>
    </ul>
  </li>
</ul>
<h2>Bug Fixes 🐛</h2>
<ul>
  <li>
    Themes load correct from https://terminal.sexy.
  </li>
  <li>
    Paste history is now persistent and is loaded correct at startup.
  </li>
  <li>
    Fixed memory leak when closing a tab.
  </li>
  <li>
    Closing a tab with a process that generates a lot of output does not crash the application.
  </li>
  <li>
    Shortcut with same keybinding does not prevent the application from starting.
  </li>
  <li>
    Splitting panes works as expected.
  </li>
</ul>
<h1>Version 0.6.*</h1>
<h2>New Features 🚀</h2>
Improved pane handling
<ul>
  <li>
    <strong>Swap Panes</strong><i>
    <pre>Ctrl</pre>
    +
    <pre>Shift</pre>
    +
    <pre>P</pre>
    swaps two adjacent panes.</i>
  </li>
  <li>
    <strong>Unsplit all panes</strong>
    <i><pre>Ctrl</pre>
    +
    <pre>Shift</pre>
    +
    <pre>U</pre>
    reduces all tabs to one pane.</i>
  </li>
  <li>
    <strong>Split and move down</strong>
    <i> <pre>Ctrl</pre>
    +
    <pre>-</pre>
    moves a tap to a new pane below the current one.</i>
  </li>
  <li>
    <strong>Split and move right</strong><i>
  <pre>Ctrl</pre>
    +
    <pre><</pre>
    moves a tap to a new pane next to the current one.</i>
  </li>
</ul>
<h2>Bug Fixes 🐛</h2>
<ul>
  <li>
    <strong>Tab titles with brackets are now displayed correctly.</strong> <i>Tab titles with brackets were displayed in the wrong
    order.</i>
  </li>
  <li>
    <strong>Tab titles are now updated correctly. </strong><i>Tab titles sometimes showed the wrong directory.</i>
  </li>
  <li>
    <strong>Context menus are no longer displayed outside the visible area.</strong>
  </li>
  <li>
    <strong>ransparency settings work correctly. </strong><i>You can get a transparent window if you set the opacity of a theme to a
    value below 100.</i>
  </li>
</ul>
<h1>Version 0.5.*</h1>
<hr>
<article>
  <b>Wisp is now Cogno! Please uninstall Wisp manually.</b><br>
  I'm really really sorry. But you now have Wisp and Cogno installed on your system. I could not make Windows
  understand, that the application is only renamed.
</article>
<hr>
<h2>New Features 🚀</h2>
<ul>
  <li>
    <strong>Release Notes</strong><i>We have Release Notes, now! 😅</i>
  </li>
  <li>
    <strong>Move cursor by click</strong><i>With
    <pre>alt</pre>
    +
    <pre>click</pre>
    you can move the cursor to the clicked position.</i>
  </li>
</ul>
<h2>Improvements 🙌</h2>
<ul>
  <li>
    <strong>Reduced size of Cogno</strong><i>Cogno is now 10% smaller.</i>
  </li>
  <li>
    <strong>Improved autocompletion</strong><i>The sorting of the results is better and the amount of results is
    reduced.</i>
  </li>
</ul>
<h2>Bug Fixes 🐛</h2>
<ul>
  <li>
    The autocompleter is loaded correctly in the first tab after startup.
  </li>
</ul>
