<app-grid-pane [node]="(tree | async)?.root"></app-grid-pane>
<!--app-paste-history-menu></app-paste-history-menu-->
<!--app-actions></app-actions-->
<!--app-workspaces-menu></app-workspaces-menu-->
<!--app-tab-context-menu></app-tab-context-menu-->
<!--app-titlebar-menu></app-titlebar-menu-->
<!--app-autocomplete></app-autocomplete-->
<div class="tab-container">
    @for ( tab of (tabs | async); track tab.id) {
        <div class="tap-content" [id]="tab?.id">
            @switch (tab.tabType) {
                @case ('terminal') {
                    <app-terminal data-keytip-container class="content" [tabId]="tab?.id"
                                  [ngClass]="{'active': tab?.isSelected, 'inactive': !tab?.isSelected}">
                    </app-terminal>
                }
                @case ('about') {
                    <!--app-about class="content" [tabId]="tab?.id"
                               [ngClass]="{'active': tab?.isSelected, 'inactive': !tab?.isSelected}">
                    </app-about-->
                }
                @case ('settings') {
                    <!--app-settings class="content" *ngSwitchCase="TabType.Settings" [tabId]="tab?.id"
                                  [ngClass]="{'active': tab?.isSelected, 'inactive': !tab?.isSelected}">
                    </app-settings-->
                }
                @case ('release-notes') {
                    <!--app-release-notes class="content" *ngSwitchCase="TabType.ReleaseNotes" [tabId]="tab?.id"
                                       [ngClass]="{'active': tab?.isSelected, 'inactive': !tab?.isSelected}">
                    </app-release-notes-->
                })
            }
        </div>
    }
</div>
