@for (notification of notifications(); track notification.id) {
  <section class="notification" [class]="notification.type || 'info'">
    <app-icon [name]="getIcon(notification.type)"></app-icon>
    <div class="content">
      <header class="title">{{ notification.header }}</header>
      <main class="message">{{ notification.body }}</main>
      <small class="timestamp">{{notification.timestamp | timeAgo}}</small>
    </div>
    @if (notification.count > 1) {
      <div class="count" title="Occurrences">{{ notification.count }}</div>
    }
      <button class="button-borderless" (click)="remove(notification.id)">
          <app-icon [name]="'mdiClose'"></app-icon>
      </button>
  </section>
}

