.preview {
  // background-color: var(--background-color);
  margin: 1rem 1.5rem 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  box-shadow: var(--shadow1);

  .header {
    display: flex;
    flex-direction: row;
    flex: 1;
    height: 20px;
    .tab {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 3px 5px;
      margin-left: 20px;
    }
  }

  .terminal {
    position: relative;
    padding: 0.5rem 1rem 0 0.5rem;
  }

  .cursor {
    height: 100%;
    border: solid;
    border-right-width: 0;
    border-top-width: 0;
    /*animation: 1s blink infinite;*/
  }

  app-icon {
    width: 12px;
    height: 12px;

    &::ng-deep svg {
      width: 12px;
      height: 12px;
    }
  }

  @keyframes blink {
    0% {
      opacity: 0;
    }
    49% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }

  .footer {
    padding: 2px;
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;

    .item {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
}
