@if (os === 'windows' || os === 'linux') {
    <div id="window-buttons" class="{{os}}">
        <button class="btn-flat" (click)="minimize()">
            <app-icon name="mdiWindowMinimize"></app-icon>
        </button>
        <button class="btn-flat" (click)="toggleMaximize()">
            <app-icon [name]="(service.isMaximized()) ? 'mdiWindowRestore' : 'mdiWindowMaximize'"></app-icon>
        </button>
        <button class="btn-flat close" (click)="close()"><app-icon name="mdiClose"></app-icon></button>
    </div>
}

