<ng-container [ngSwitch]="site | async">
  <ng-container *ngSwitchCase="1">
    <section class="prosa animated fadeIn max-width">
      <h1>👋 Hello! Nice to see you!</h1>
      <h2>Let's make some basic settings first.</h2>
      <p>If you can't decide now, don't worry. You can change everything later in the settings.</p>
    </section>
  </ng-container>
  <ng-container *ngSwitchCase="2">
    <section class="prosa animated fadeIn center">
      <h2><app-emoji [emoji]="emoji"></app-emoji>Which shells do you want to use?</h2>
      <ul>
        <li *ngFor="let shell of shells | async" (click)="toggleShell(shell)" [ngClass]="{'selected': shell.isSelected}">
          <div class="selection">
            <app-icon *ngIf="shell.isSelected" name="mdiCheckCircle" class="text-icon"></app-icon>
            <app-icon *ngIf="!shell.isSelected" name="mdiCheckboxBlankCircle" class="text-icon dark"></app-icon>
          </div>
          <div class="shell">
            <ng-container [ngSwitch]="shell.type">
              <app-icon *ngSwitchCase="ShellType.ZSH" name="mdiPercentBoxOutline" class="text-icon"></app-icon>
              <app-icon *ngSwitchCase="ShellType.Bash" name="mdiConsole" class="text-icon"></app-icon>
              <app-icon *ngSwitchCase="ShellType.GitBash" name="mdiGit" class="text-icon"></app-icon>
              <app-icon *ngSwitchCase="ShellType.Powershell" name="mdiPowershell" class="text-icon"></app-icon>
            </ng-container>
            <span>
            {{shell.name}}
            </span>
          </div>
          <small class="footer">{{shell.path}}</small>
        </li>
      </ul>
    </section>
  </ng-container>
  <ng-container *ngSwitchCase="3">
    <section class="prosa animated fadeIn center">
      <h2><app-emoji [emoji]="emoji"></app-emoji>Which one should be your default shell?</h2>
      <ul>
        <li *ngFor="let shell of selectedShells | async" (click)="toggleDefaultShell(shell)" [ngClass]="{'selected': shell.default}">
          <div class="selection">
            <app-icon *ngIf="shell.default" name="mdiCheckCircle" class="text-icon"></app-icon>
            <app-icon *ngIf="!shell.default" name="mdiCheckboxBlankCircle" class="text-icon dark"></app-icon>
          </div>
          <div class="shell">
            <ng-container [ngSwitch]="shell.type">
              <app-icon *ngSwitchCase="ShellType.ZSH" name="mdiPercentBoxOutline" class="text-icon"></app-icon>
              <app-icon *ngSwitchCase="ShellType.Bash" name="mdiConsole" class="text-icon"></app-icon>
              <app-icon *ngSwitchCase="ShellType.GitBash" name="mdiGit" class="text-icon"></app-icon>
              <app-icon *ngSwitchCase="ShellType.Powershell" name="mdiPowershell" class="text-icon"></app-icon>
            </ng-container>
            <span>
            {{shell.name}}
            </span>
          </div>
          <small class="footer">{{shell.path}}</small>
        </li>
      </ul>
    </section>
  </ng-container>
  <ng-container *ngSwitchCase="4">
    <section class="prosa animated fadeIn center">
      <h2><app-emoji [emoji]="emoji"></app-emoji>Do you want to use Shell Integration?</h2>
      <p>Shell integration provides features such as autocomplete or command markers.</p>
      <ul *ngIf="(shells | async)![0].injectionType as injectionType">
        <li [ngClass]="{'selected': injectionType === 'Auto'}" (click)="setInjectionType('Auto')">
          <div class="selection" >
            <app-icon *ngIf="injectionType === 'Auto'" name="mdiCheckCircle" class="text-icon"></app-icon>
            <app-icon *ngIf="injectionType !== 'Auto'" name="mdiCheckboxBlankCircle" class="text-icon dark"></app-icon>
          </div>
          <div>Let Cogno handle everything automatically</div>
          <small class="footer">Choose this if you want Cogno to set up all necessary scripts for you.</small>
        </li>
        <li [ngClass]="{'selected': injectionType === 'Manual'}" (click)="setInjectionType('Manual')">
          <div class="selection">
            <app-icon *ngIf="injectionType === 'Manual'" name="mdiCheckCircle" class="text-icon"></app-icon>
            <app-icon *ngIf="injectionType !== 'Manual'" name="mdiCheckboxBlankCircle" class="text-icon dark"></app-icon>
          </div>
          <div>Customize your own prompt</div>
          <small class="footer">Select this if you prefer to define your prompt manually or use prompt engines like Oh-My-Posh. Make sure to check the <a class="external-link inline" (click)="openDocumentation('Shell-Integration', $event)">documentation</a>for details.</small>
        </li>
      </ul>
    </section>
  </ng-container>
  <ng-container *ngSwitchCase="5">
    <section class="prosa animated fadeIn center">
      <h2><app-emoji [emoji]="emoji"></app-emoji>Which theme do you want to use?</h2>
      <ul>
        <li *ngFor="let theme of themes | async" (click)="toggleTheme(theme)" class="theme" [ngClass]="{'selected': theme.isDefault}">
          <div class="selection">
            <app-icon *ngIf="theme.isDefault" name="mdiCheckCircle" class="text-icon"></app-icon>
            <app-icon *ngIf="!theme.isDefault" name="mdiCheckboxBlankCircle" class="text-icon dark"></app-icon>
          </div>
          <div class="theme">
            <app-terminal-theme-preview
              [theme]="theme"
            >
            </app-terminal-theme-preview>
          </div>
        </li>
      </ul>
    </section>
  </ng-container>
  <ng-container *ngSwitchCase="6">
    <section class="prosa animated fadeIn center">
      <h2><app-emoji [emoji]="emoji"></app-emoji>Which font do you want to use for your terminal?</h2>
      <ul>
        <li *ngFor="let font of fonts | async" (click)="toggleFont(font)" class="font" [ngClass]="{'selected': font.isSelected}">
          <div class="selection">
            <app-icon *ngIf="font.isSelected" name="mdiCheckCircle" class="text-icon"></app-icon>
          </div>
          <div class="font" [ngStyle]="{'font-family': font.name}">{{font.name}}</div>
          <small class="footer"  [ngStyle]="{'font-family': font.name}">--> The quick brown fox jumps over the lazy dog.</small>
        </li>
      </ul>
    </section>
  </ng-container>
  <ng-container *ngSwitchCase="7">
    <section class="prosa animated fadeIn center">
      <h2><app-emoji [emoji]="emoji"></app-emoji>Do you allow telemetry data to be sent?</h2>
      <ul>
        <li [ngClass]="{'selected': enableTelemetry | async}" (click)="toggleTelemetry()" class="tracking">
          <div class="selection">
            <app-icon *ngIf="enableTelemetry | async" name="mdiCheckCircle" class="text-icon"></app-icon>
          </div>
          <div class="font" *ngIf="enableTelemetry | async">Enabled</div>
          <div class="font" *ngIf="!(enableTelemetry | async)">Disabled</div>
          <small class="footer">It's just a Ping with your cogno and os version. For me it is super motivating when I see that Cogno is used.</small>
        </li>
      </ul>
    </section>
  </ng-container>
  <ng-container *ngSwitchCase="8">
    <section class="prosa animated fadeIn max-width">
      <h1>🥳 Great! That's all.</h1>
      <p>
        Please note that Cogno needs time to learn. The autocompleter gets better with every command. So use Cogno for a few days and you will not want to miss it anymore.
      </p>
      <p>
        If you find any bugs, have any comments or requests, it would be wonderful to hear about them.
      </p>
      <p>So have fun and thank you for using Cogno!</p>
    </section>
  </ng-container>
</ng-container>
<section class="buttons">
  <button class="button previous" *ngIf="hasPreviousSite | async" (click)="previousSite()" (mouseenter)="emoji = 2" (mouseleave)="emoji = 1">&#10094; Back</button>
  <button class="button next" *ngIf="hasNextSite | async" (click)="nextSite()" (mouseenter)="emoji = 3" (mouseleave)="emoji = 1">Next &#10095;
  </button>
  <button class="button next" *ngIf="(site | async) === maxSite" (click)="finish()">Finish</button>
</section>
