<div class="inspector-table" role="table" aria-label="Inspector">
    <!-- Keybinding row -->
    <div class="table c2">
        <div class="span-full"><b>Global</b></div>
        <div class="label">Keybinding</div>
        <div class="value">
            @if (firedKeybinding()) {
                {{ firedKeybinding() }}
            } @else {
                —
            }
        </div>
        <div class="label" role="rowheader">Mouse</div>
        <div class="value" role="cell">
            @if (globalMousePosition()) {
                {{ globalMousePosition()!.x }}, {{ globalMousePosition()!.y }}
            } @else {
                —
            }
        </div>
    </div>

    @for (id of terminalIds(); track id; let i = $index; ) {
        <div class="table c3">
            <div class="span-full"><b>Terminal {{ i + 1 }}</b></div>
            <div></div>
            <div class="label">Viewport</div>
            <div class="label">Absolute</div>
            <div class="label">Mouse</div>
            <div class="value">
                @if (terminalMouseById()[id]) {
                    {{ terminalMouseById()[id].viewport.col }}, {{ terminalMouseById()[id].viewport.row }}, '{{ terminalMouseById()[id].char || ' ' }}'
                } @else {
                    —
                }
            </div>
            <div class="value">
                @if (terminalMouseById()[id]) {
                    {{ terminalMouseById()[id].col }}, {{ terminalMouseById()[id].row }}, '{{ terminalMouseById()[id].char || ' ' }}'
                } @else {
                    —
                }
            </div>
            <div class="label">Cursor</div>
            <div class="value">
                @if (terminalCursorById()[id]) {
                    {{ terminalCursorById()[id].viewport.col }}, {{ terminalCursorById()[id].viewport.row }}, '{{ terminalCursorById()[id].char || ' ' }}'
                } @else {
                    —
                }
            </div>
            <div class="value">
                @if (terminalCursorById()[id]) {
                    {{ terminalCursorById()[id].col }}, {{ terminalCursorById()[id].row }}, '{{ terminalCursorById()[id].char || ' ' }}'
                } @else {
                    —
                }
            </div>
            <div class="label">Size</div>
            <div class="value" role="cell">
                @if (terminalDimsById()[id]) {
                    {{ terminalDimsById()[id].cols }} × {{ terminalDimsById()[id].rows }}
                } @else {
                    —
                }
            </div>
            <div></div>
            <div class="label">Input</div>
            <div class="value">
                @if (terminalInputById()[id]) {
                    {{ terminalInputById()[id] }}
                } @else {
                    —
                }
            </div>
            <div></div>
        </div>
    }

</div>

