<div class="loading-container" *ngIf="isVisible" [ngClass]="{'blur' : blur}">
  <app-loader *ngIf="!hasError"></app-loader>
  <ng-container *ngIf="hasError && blur">
    <span>Oops, the shell is slow or something went wrong.</span>
    <button (click)="closeTab()">Close the Tab</button>
    <button (click)="showOutput()">Show the Shell Output</button>
  </ng-container>
  <ng-container *ngIf="hasError && !blur">
    <span>If the output of the terminal is correct, you may want to consider increasing the initialization timeout. You will find it in the <a (click)="openSettings()">shell configuration</a>.</span>
    <button (click)="removeLoadingContainer()">Looks good</button>
    <button (click)="closeTab()">Close the Tab</button>
  </ng-container>
</div>
