.loading-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  color: var(--foreground-color-40d);
  filter: blur(0);
}

.blur {
  backdrop-filter: blur(20px);
}

button {
  width: 25rem;
}

span {
  max-width: 25rem;
}

a {
  text-decoration: underline;
}
