:host {
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(4px);
}

.container {
  display: flex;
  flex: 1;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

dialog {
  color: var(--foreground-color-40l);
  background-color: var(--background-color-10l);
  padding: 0.5em;
  line-height: 1.6;
  overflow: hidden;
  width: 400px;
  z-index: 100;
  box-shadow: var(--shadow2);
  border-radius: 2px;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;

  main {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex: 1;
    width: 100%;
    padding: 0.5rem;
    gap: 0.5rem;
  }
}

section {
  flex-direction: column;
  width: 100%;
}

.dummyInput {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
}

.keys {
  padding: 0.5rem;
  height: 1rem;
  width: calc(100% - 1rem - 2px);
  box-sizing: content-box;
  background-color: var(--background-color-20l);
  text-align: center;
  vertical-align: middle;
  line-height: 1rem;

  border: 1px solid;
  border-color: var(--background-color);
  &.focus {
    border-color: var(--highlight-color);
  }
}


.alias-command {
  text-align: center;
  width: calc(100% - 1rem - 2px);
  box-sizing: content-box;
  border: 1px solid;
  border-color: var(--background-color);
  &:focus {
    border-color: var(--highlight-color);
  }
}

.cursor {
  width: 0px;
  height: 100%;
  margin-left: 5px;
  border-left: solid;
  border-color: var(--highlight-color);
  border-left-width: 1px;
  opacity: 0;
  &.blink {
    animation: 1s blink infinite;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.warning {
  color: var(--color-yellow)
}
