<div class="container" [ngClass]="{'blur': (hasBackgroundImage | async)}">
    <div class="logo-container"><app-logo [color]="'var(--background-color-10l)'" [backgroundColor]="'var(--foreground-color-20d)'"></app-logo></div>
    <main>
        <a (click)="openTerminal()">
          <app-icon name="mdiPlus" color="var(--foreground-color)"></app-icon>
          New Terminal
          <span style="flex:1"></span>
          <span class="shortcut">{{(shortcuts | async)?.newTab | shortcut}}</span>
        </a>
        <a (click)="openSettings()">
          <app-icon name="mdiCog" color="var(--foreground-color)"></app-icon>
          Open Settings
          <span style="flex:1"></span>
          <span class="shortcut">{{(shortcuts | async)?.openSettings | shortcut}}</span></a>
    </main>
    <footer>
        <a (click)="openGit()"><app-icon name="mdiGithub" color="var(--foreground-color)"></app-icon>View Source</a>
        <a (click)="openReportIssue()"><app-icon name="mdiBug" color="var(--foreground-color)"></app-icon>Report Issue</a>
    </footer>
</div>
