.dialog {
  position: absolute;
  top:50px;
  left: 50%;
  transform: translateX(-50%);

  color: var(--foreground-color-20l);
  background-color: var(--background-color-10l);
  padding: 0.5em 0;
  line-height: 1.6;
  overflow: hidden;
  box-shadow: var(--shadow1);
  border-top: 2px solid var(--highlight-color);
  border-radius: 2px;
  font-size: 1rem;
  z-index: 100;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0.5rem 0;
  max-height: 33vh;
  min-width: 350px;
  overflow: auto;
  li {
    white-space: nowrap;
    /*cursor: pointer;*/
    &.selected {
      background-color: var(--background-color-20l);
    }
    a {
      display: flex;
      gap: 2rem;
      flex-direction: row;
      align-items: center;
      flex: 1;
      justify-content: space-between;
      padding: 0.5rem 1rem;
      text-decoration: none;
      color: var(--foreground-color-40l);
    }
    a:hover{
      background-color: var(--background-color-30l);
    }
    .shortcut {
      color: var(--background-color-40l);
    }
  }
}

.input-container {
  background-color: var(--background-color-20l);

  #actionsInput {
    font-size: 1rem;
    flex: 1;
    color: var(--foreground-color-40l);
    background-color: var(--background-color-20l);
    padding: 0.5rem 1rem;
    border: none;
    box-sizing: border-box;
    width: 100%;
  }
}
