.container {
  position: absolute;
  top: calc(40%);
  left: calc(50% - 200px);
  color: var(--foreground-color-40l);
  background-color: var(--background-color-10l);
  padding: 0.5em 0 0.5em 0;
  line-height: 1.6;
  overflow: hidden;
  z-index: 100;
  width: 400px;
  box-shadow: var(--shadow2);
  border-radius: 2px;
  font-size: 1rem;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      white-space: nowrap;
      &.selected {
        background-color: var(--background-color-30l);
      }
      a {
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        padding: 0.3rem 1rem;
        text-decoration: none;
        color: var(--foreground-color-40l);
      }
      a:hover{
        background-color: var(--background-color-30l);
      }
    }
  }
}
