<div [hidden]="!(isVisible | async)">
  <div class="container">
    <input class="search" placeholder="Search in Terminal..." #searchInputField [value]="(searchOptions | async)?.searchText" (click)="$event.stopPropagation()" (input)="search($event)">
    <button class="btn border light" (click)="searchClear($event)"><app-icon name="mdiClose"></app-icon></button>
    <button class="btn" (click)="searchPrevious($event)" title="Previous Occurrence"><app-icon name="mdiArrowUp"></app-icon></button>
    <button class="btn" (click)="searchNext($event)" title="Next Occurrence"><app-icon name="mdiArrowDown"></app-icon></button>
    <span class="results" *ngIf="!(searchResult | async)?.hasMatch">No results</span>
    <span class="results" *ngIf="(searchResult | async)?.hasMatch">{{(searchResult | async).position}}/{{(searchResult | async).count}}</span>
    <button class="btn" (click)="toggleCaseSensitive($event)" [class.active]="(searchOptions | async)?.caseSensitive" title="Match Case"><app-icon name="mdiFormatLetterCase"></app-icon></button>
    <button class="btn" (click)="toggleWholeWord($event)" [class.active]="(searchOptions | async)?.wholeWord" title="Match Word"><app-icon name="mdiFormatLetterMatches"></app-icon></button>
    <button class="btn" (click)="toggleRegex($event)" [class.active]="(searchOptions | async)?.regex" title="Match Regex"><app-icon name="mdiRegex"></app-icon></button>
    <div class="spacer"></div>
    <button class="btn" (click)="close()"><app-icon name="mdiClose"></app-icon></button>
  </div>
</div>
