:host {
  display: flex;
  justify-content: center;
  min-width: 0;
  min-height: 0;
  flex-grow: 1;
  flex-shrink: 1;

  app-grid-tabs {
    &.isFirst {
      background-color: blue;
    }
    &.isTopRight {
      background-color: green;
    }
  }
}



