<nav class="tab-list">
    @for (tab of tabs | async; track tab.id) {
        <button
                type="button"
                class="tab"
                [animate.enter]="'animate-tab-enter'"
                [animate.leave]="'animate-tab-leave'"
                [attr.data-tab-id]="tab.id"
                title="{{tab.title}}"
        >
            <span class="icon"><app-icon [name]="iconForShell(tab.shellType)"></app-icon></span>
            <span class="title">{{ tab.title }}</span>
            <span class="close" (click)="$event.stopPropagation(); onClose(tab)">
                <app-icon name="mdiClose"></app-icon>
            </span>
        </button>
    }
    <button class="add" (click)="$event.stopPropagation(); onAdd()"><app-icon name="mdiPlus"></app-icon></button>
</nav>
