<div #terminal class="terminal-container" (click)="focus()" (contextmenu)="showContextMenuOrPaste($event)"></div>
@if (isStoreReady | async) {
  <app-footer></app-footer>
  <app-header></app-header>
  <app-context-menu></app-context-menu>
  <app-search></app-search>
  <app-scroll-to-bottom></app-scroll-to-bottom>
  <app-command-context-menu></app-command-context-menu>
}
