:host{
  display:block;
  height:100%;
  width:100%;
}
.grid-container{
  display:grid;
  height:100%;
  width:100%;
}
.divider{
  background: var(--background-color-20l);
}
.divider.horizontal {
  cursor:row-resize;
  height:2px;
}
.divider.vertical {
  cursor:col-resize;
  width:2px;
}
.cell{
  overflow:hidden;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
