:host{
  display:block;
  height:100%;
  width:100%;
}
.grid-container{
  display:grid;
  height:100%;
  width:100%;
}
.divider{
  background: var(--background-color-20l);
  &:hover{
    background: var(--background-color-30l);
  }
}
.divider.horizontal {
  align-self: center;
  cursor:ns-resize;
  height:2px;
}
.divider.vertical {
  justify-self: center;
  cursor:ew-resize;
  width:2px;
}
.cell{
  overflow:hidden;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}

app-pane {
  position: relative;
  &.focus::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 5px;
    background: green;
  }
  &:not(.focus)::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.3);
    pointer-events: none;
  }
}


