:host{
  display:block;
  height:100%;
  width:100%;
}
.grid-container{
  display:grid;
  height:100%;
  width:100%;
}
.divider{
  background: var(--background-color-20l);
  &:hover{
    background: var(--background-color-30l);
  }
}
.divider.horizontal {
  align-self: center;
  cursor:n-resize;
  height:2px;
}
.divider.vertical {
  justify-self: center;
  cursor:e-resize;
  width:2px;
}
.cell{
  overflow:hidden;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.focus {
  position: relative;
}
.focus::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 5px;
  background: green;
}
