app-edit-shell-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(4px);
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;

  dialog {
    background-color: var(--background-color-10l);
    color: var(--foreground-color);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    box-shadow: var(--shadow2);
    border: none;
    border-radius: 3px;
    width: 80%;
    max-height: 80%;

    main {
      display: flex;
      flex: 1;
      flex-direction: column;
      gap: 1rem;
      overflow-x: hidden;
      overflow-y: auto;

      app-local, app-remote {
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: 1rem;
      }
    }

    .card {
      margin: 1rem 0;
      border: 2px solid var(--background-color-20l);

      h2 {
        background-color: var(--background-color-10l);
      }

      .description {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        h3{
          background-color: var(--background-color-10l);
          color: var(--foreground-color);
          padding: 0;
          margin: 0;
          font-weight: lighter;
          font-size: 1rem;
        }

        code {
          padding: 1rem 1rem;
          opacity: 0.5;
          background-color: var(--background-color-30l);
        }
      }
    }

    footer {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      gap: 1rem;
      padding: 2rem 0 0 0;
    }
  }
}
