:host {
  z-index: 1;
  min-height: 0;
  position: relative;
  background-color: var(--background-color-20l);
}

a {
  display: flex;
  align-items: center;
}

.footer {
  font-size: 0.85rem;
  user-select: none;
  padding: 0 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition: bottom 0.5s ease;

  .left {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    max-width: 100%;
  }

  .space {
    flex: 1;
    min-width: 3rem;
  }

  .right {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    max-width: 100%;
    overflow: hidden;
  }

  .item {
    display: flex;
    margin-left: 1rem;
    white-space: nowrap;
    overflow: hidden;
    flex-direction: row;
    align-items: center;
    gap: 0;
    flex-shrink: 0;

    &.hover {
      cursor: pointer;
    }

    &.shrink {
      flex-shrink: 1;
    }

    app-icon {
      flex-shrink: 0;
    }

    .text {
      flex-shrink: 1;
      display: inline-block;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 30rem;
    }

    &:first-child {
      margin-left: 0;
    }
  }

  .command-info {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    max-width: 90%;
  }

  app-icon {
    height: 0.9rem;
    width: 0.9rem;
    margin: 0 0.3em;
  }
}
