general.enable_telemetry=true
general.scrollback_lines=10000

autocomplete.ignore=cd ..,cd .,cd ~,cd /
autocomplete.position=cursor
autocomplete.mode=always

theme.default.enable_webgl=false
theme.default.cursor.width=1
theme.default.cursor.style=block
theme.default.font_family=Consolas
theme.default.font_size=14
