keybind = Command+C=copy
keybind = Command+X=cut
keybind = Command+T=new_tab
keybind = Command+W=close_terminal
keybind = Command+V=paste
keybind = Command+R=split_right
keybind = Command+Shift+R=split_left
keybind = Command+D=split_down
keybind = Command+Shift+D=split_up
keybind = Control+Shift+W=close_tab
keybind = Command+Alt+C=clear_buffer
keybind = Option+Shift+W=close_other_tabs
keybind = Command+Shift+Q=close_all_tabs
keybind = Command+Control+I=open_inspector
keybind = Command+Control+W=open_workspace
keybind = Command+Control+N=open_notification
keybind = Command+Q=quit
keybind = Command+N=new_window
keybind = Command+Shift+Option+W=close_window
keybind = Command+,=open_config
keybind = Command+P=open_command_palette

keybind = Command+Y=clear_line

keybind = Command+M=clear_line_to_end
keybind = Command+N=clear_line_to_start
keybind = Command+Option+Left=delete_previous_word
keybind = Command+Option+Right=delete_next_word
keybind = Command+Right=go_to_next_word
keybind = Command+Left=go_to_previous_word

keybind = Shift+Right=select_text_right
keybind = Shift+Left=select_text_left
keybind = Command+Shift+Right=select_word_right
keybind = Command+Shift+Left=select_word_left
keybind = Command+Shift+M=select_text_to_end_of_line
keybind = Command+Shift+N=select_text_to_start_of_line
keybind = Command+A=select_all

#keybind = Command+P=show_actions
#keybind = Command+F1=bring_to_front
#keybind = Control+Tab=change_tab
#keybind = Alt+Right=next_tab
#keybind = Alt+Left=previous_tab
#keybind = Command+Shift+U=unsplit
#keybind = Command+Shift+P=swap_panes
#keybind = Command+Shift+C=abort_all_tasks
#keybind = Command+F=find

#keybind = Control+Shift+D=duplicate_tab
#keybind = Control+Space=show_autocompletion
#keybind = Command+Shift+H=show_paste_history
#keybind = Control+K=show_key_tips
#keybind = Control+Shift+K=show_context_key_tips
#keybind = Control+Alt+Right=next_argument
#keybind = Control+Alt+Left=previous_argument
#keybind = Command+1=open_shell_1
#keybind = Command+2=open_shell_2
#keybind = Command+3=open_shell_3
#keybind = Command+4=open_shell_4
#keybind = Command+5=open_shell_5
#keybind = Command+6=open_shell_6
#keybind = Command+7=open_shell_7
#keybind = Command+8=open_shell_8
#keybind = Command+9=open_shell_9
#keybind = Control+Shift+Up=scroll_to_previous_command
#keybind = Control+Shift+Down=scroll_to_next_command
#keybind = Control+Alt+Up=scroll_to_previous_bookmark
#keybind = Control+Alt+Down=scroll_to_next_bookmark
#keybind = Control+Shift+F12=open_dev_tools
#keybind = Control+Shift+F=inject_password

enable_webgl = true
enable_watch_config = false

font.enable_ligatures = false
font.family = monospace
font.size = 14
font.weight = normal
font.weight_bold = bold
font.custom_glyphs = true
font.draw_bold_text_in_bright_colors = false
font.rescale_overlapping_glyphs = false

font.app.size = 14
font.app.family = sans-serif

color.background = 0e1925
color.foreground = ffffff
color.black = 32465c
color.blue = 34bbfe
color.cyan = 32d8c1
color.green = 11d894
color.magenta = e465d9
color.red = fd1155
color.white = eeeeee
color.yellow = fede55
color.bright_black = 32465c
color.bright_blue = 34bbfe
color.bright_cyan = 32d8c1
color.bright_green = 11d894
color.bright_magenta = e465d9
color.bright_red = fd1155
color.bright_white = eeeeee
color.bright_yellow = fede55
color.highlight = 34bbfe

scrollbar.overview_ruler_border_color = 0e192500
scrollbar.slider_color = 0e1925CC
scrollbar.slider_hover_color = 0e192566
scrollbar.slider_active_color = 0e192566
scrollbar.width = 6
scrollbar.sensitivity = 1
scrollbar.scroll_on_user_input = true
scrollbar.smooth_scroll_duration = 0
scrollbar.scrollback_lines = 10000
scrollbar.fast_scroll_sensitivity = 2

cursor.color = 34bbfecc
cursor.accent_color = 34bbfe66
cursor.blink = true
cursor.style = bar
cursor.width = 4
cursor.alt_click_moves_cursor = true

padding.remove_on_full_screen_app = false
padding.left = 0.5
padding.right = 0.5
padding.top = 0.5
padding.bottom = 0.5

background_image.path = 
background_image.opacity = 80
background_image.blur = 0

menu.opacity = 80

selection.clear_on_copy = false
selection.background_color: 34bbfecc,
selection.inactive_background_color: 34bbfe66,
selection.right_click_selects_word: false,

workspace.mode  = visible
inspector.mode  = visible
notification.mode  = visible
command_palette.mode  = visible

tab_stop_width = 8
allow_transparency = true
convert_eol = false
minimum_contrast_ratio = 4
screen_reader_mode = false
word_separator = "()[]{}'\"\\,;:/&<>*+=$^!~` "

shell.1.args = 
shell.1.path = 
shell.1.env = 
shell.1.shell_type = 
shell.1.working_dir = 
