keybind = Ctrl+C=[performable]copy
keybind = Ctrl+T=new_tab
keybind = Ctrl+Shift+W=close_tab
keybind = Control+V=paste
keybind = Ctrl+R=split_right
keybind = Ctrl+Shift+R=split_left
keybind = Ctrl+D=split_down
keybind = Ctrl+Shift+D=split_up
keybind = Ctrl+W=close_terminal
keybind = Ctrl+Alt+C=clear_buffer
keybind = Alt+W=close_other_tabs
keybind = Ctrl+Shift+Q=close_all_tabs
keybind = Ctrl+Alt+I=open_inspector
keybind = Ctrl+Alt+W=open_workspace
keybind = Ctrl+Alt+N=open_notification
keybind = Ctrl+Q=quit
keybind = Ctrl+N=new_window
keybind = Ctrl+Shift+Alt+W=close_window
keybind = Ctrl+,=open_config
keybind = Ctrl+P=open_command_palette



#keybind = Ctrl+P=show_actions
#keybind = Ctrl+F1=bring_to_front
#keybind = Ctrl+Tab=change_tab
#keybind = Alt+Right=next_tab
#keybind = Alt+Left=previous_tab
#keybind = Ctrl+W=close_tab
#keybind = Ctrl+Shift+U=unsplit
#keybind = Ctrl+Shift+P=swap_panes
#keybind = Ctrl+Shift+C=abort_all_tasks
#keybind = Ctrl+X=cut
#keybind = Ctrl+F=find
#keybind = Ctrl+Y=clear_line
#keybind = Ctrl+M=clear_line_to_end
#keybind = Ctrl+N=clear_line_to_start
#keybind = Ctrl+,=delete_previous_word
#keybind = Ctrl+.=delete_next_word
#keybind = Ctrl+Right=go_to_next_word
#keybind = Ctrl+Left=go_to_previous_word
#keybind = Ctrl+Shift+D=duplicate_tab
#keybind = Ctrl+Space=show_autocompletion
#keybind = Ctrl+Shift+H=show_paste_history
#keybind = Ctrl+K=show_key_tips
#keybind = Ctrl+Shift+K=show_context_key_tips
#keybind = Ctrl+Alt+Right=next_argument
#keybind = Ctrl+Alt+Left=previous_argument
#keybind = Ctrl+Shift+S=open_settings
#keybind = Ctrl+1=open_shell_1
#keybind = Ctrl+2=open_shell_2
#keybind = Ctrl+3=open_shell_3
#keybind = Ctrl+4=open_shell_4
#keybind = Ctrl+5=open_shell_5
#keybind = Ctrl+6=open_shell_6
#keybind = Ctrl+7=open_shell_7
#keybind = Ctrl+8=open_shell_8
#keybind = Ctrl+9=open_shell_9
#keybind = Ctrl+Shift+Up=scroll_to_previous_command
#keybind = Ctrl+Shift+Down=scroll_to_next_command
#keybind = Ctrl+Alt+Up=scroll_to_previous_bookmark
#keybind = Ctrl+Alt+Down=scroll_to_next_bookmark
#keybind = Shift+Right=select_text_right
#keybind = Shift+Left=select_text_left
#keybind = Ctrl+Shift+Right=select_word_right
#keybind = Ctrl+Shift+Left=select_word_left
#keybind = Shift+End=select_text_to_end_of_line
#keybind = Shift+Home=select_text_to_start_of_line
#keybind = Ctrl+Shift+F12=open_dev_tools
#keybind = Ctrl+Shift+F=inject_password

scrollback_lines = 10000
enable_webgl = false
enable_watch_config = false

font.enable_ligatures = false
font.family = monospace
font.size = 14
font.weight = normal
font.weight_bold = bold

font.app.size = 14
font.app.family = sans-serif

color.background = 0e1925
color.foreground = ffffff
color.black = 32465c
color.blue = 34bbfe
color.cyan = 32d8c1
color.green = 11d894
color.magenta = e465d9
color.red = fd1155
color.white = eeeeee
color.yellow = fede55
color.bright-black = 32465c
color.bright-blue = 34bbfe
color.bright-cyan = 32d8c1
color.bright-green = 11d894
color.bright-magenta = e465d9
color.bright-red = fd1155
color.bright-white = eeeeee
color.bright-yellow = fede55
color.highlight = 34bbfe

cursor.color = 34bbfe
cursor.blink = true
cursor.style = bar
cursor.width = 4

padding.remove_on_full_screen_app = false
padding.left = 1
padding.right = 1
padding.top = 1
padding.bottom = 1

background_image.path = 
background_image.opacity = 80
background_image.blur = 0

menu.opacity = 80

selection.clear_on_copy = false
scrollbar.visibility = auto

workspace.mode  = visible
inspector.mode  = visible
notification.mode  = visible
command_palette.mode  = visible

shell.1.args = 
shell.1.path = 
shell.1.env = 
shell.1.shell_type = 
shell.1.working_dir = 
