app-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  max-height: 3rem;
  min-height: 2rem;
  overflow: hidden;

  --radius-of-bubble: calc(round(up, calc(var(--fontSize) * 0.25), 1px));
  --left-position-of-line: round(up, calc(var(--fontSize) * -0.5), 1px);

  .container {
    position: relative;
    border-bottom: 1px solid var(--background-color-20l);
    box-sizing: border-box;
    padding-left: calc(var(--padding) + var(--left-position-of-line));
    .line {
      position: absolute;
      left: calc(var(--padding) + var(--left-position-of-line));
      border: 1px solid rgba(0,0,0,0);
      z-index: 1;
      height: 100%;
      top: 50%;
      &.running {
        border-color: rgba(0,0,0,0);
      }

      &.error {
        border-color: var(--color-command-error);
        border-style: dashed;
      }

      &.success {
        border-color: var(--color-command-success);
      }

    }

    .bubble{
      position: absolute;
      left: calc(var(--padding) + var(--left-position-of-line) - var(--radius-of-bubble) + 1px);
      z-index: 1;
      top:0;
      bottom: 0;
      width: 0;
      height: 0;
      border-radius: 50%;
      background-color: var(--background-color);
      border: var(--radius-of-bubble) solid var(--color-command-running);

      &.running {
        top: calc(50% - var(--radius-of-bubble));
        border-color: var(--color-command-running);
      }

      &.error {
        top: calc(50% - var(--radius-of-bubble));
        border-color: var(--color-command-error);
      }

      &.success {
        top: calc(50% - var(--radius-of-bubble));
        border-color: var(--color-command-success);
      }

    }
  }
  .command-menu {
    position: absolute;
    box-sizing: border-box;
    top: calc(var(--fontSize) * 0.5);
    right: calc(var(--padding) - var(--fontSize) + 1rem);
    svg{
      width: 1.5rem;
      height: 1.5rem;
      fill: var(--background-color-40l);
    }
    &:hover {
      svg{
        fill: var(--foreground-color);
        background-color: var(--background-color-10l);
        border-radius: 2px;
      }
    }
  }

  .command-bookmark {
    position: absolute;
    top: calc(var(--fontSize) * 0.5);
    right: calc(var(--padding) - var(--fontSize) + 3rem);
    svg{
      width: 1.5rem;
      height: 1.5rem;
      fill: var(--highlight-color);
    }
  }
  .blur {
    margin-right: 11px;
    backdrop-filter: blur(10px);
  }
  p {
    display: inline-block;
    margin: 0.5rem;
    padding-left: 0.5rem;
    font-size: var(--fontSize);
    font-family: var(--fontFamily), monospace;
    font-weight: var(--fontWeight);
  }
}
