:root {
    --sb-size: 10px;
    --sb-thumb: color-mix(in srgb, var(--theme-lighten-color) calc(var(--background-mix-unit) * var(--mix-step-2)), var(--background-color));
    --sb-thumb-hover: color-mix(in srgb, var(--theme-lighten-color) calc(var(--background-mix-unit) * var(--mix-step-3)), var(--background-color));
    --sb-track: transparent; /* oder color-mix(in srgb, var(--theme-lighten-color) calc(var(--background-mix-unit) * var(--mix-step-1)), var(--background-color)) */
}

html, body {
    scrollbar-width: thin;
    scrollbar-color: var(--sb-thumb) var(--sb-track);
}

body * {
    scrollbar-width: thin; /* Firefox: show thin */
    scrollbar-color: var(--sb-thumb) var(--sb-track);
    scrollbar-gutter: auto;
}

/* Show only while body has .scrolling */
body *::-webkit-scrollbar {
    width: var(--sb-size);
    height: var(--sb-size);
}

*::-webkit-scrollbar-track {
    background: var(--sb-track);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--sb-thumb);
    border-radius: 10px;
    border: 2px solid transparent; /* optischer “Padding”-Effekt */
    background-clip: content-box;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: var(--sb-thumb-hover);
    border-radius: 16px;
    background-clip: border-box;
}

*::-webkit-scrollbar-corner {
    background: var(--sb-track);
}
