.container {
  position: absolute;
  top: 10px;
  left: 10px;
  color: var(--foreground-color-40l);
  background-color: var(--background-color-10l);
  padding: 0.5em 0;
  line-height: 1.6;
  overflow: hidden;
  z-index: 100;
  box-shadow: var(--shadow1);
  border-radius: 2px;
  font-size: 1rem;
  width: 300px;
  ul {
    user-select: none;
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      overflow: hidden;
      white-space: nowrap;
      a {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex: 1;
        justify-content: space-between;
        padding: 0.3rem 1rem;
        text-decoration: none;
        color: var(--foreground-color-40l);
      }
      a:hover{
        background-color: var(--background-color-30l);
      }
      .shortcut {
        color: var(--background-color-40l);
      }
    }
    hr {
      margin: 5px;
      border: none;
      border-top: 2px solid var(--background-color-30l);
    }
  }

  hr {
    margin: 5px;
    border: none;
    border-top: 2px solid var(--background-color-30l);
  }
}

.text-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  app-icon {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    position: relative;
    &::ng-deep svg {
      fill: var(--foreground-color-30d);
      height: 16px;
      width: 16px;
    }
  }
}
