<main class="animated fadeIn">
  <div class="card">
    <h2>Shells</h2>
    <ul>
      <li *ngFor="let shell of shells | async" class="shell"
          [ngClass]="{'default': shell.default}">
        <header>
          <app-shell-icon [shell]="shell"></app-shell-icon>
          <span title="{{shell?.path}}">
            {{shell.name}}
          </span>
          <span class="badge" *ngIf="shell.default">Default</span>
          <div class="space"></div>
          <app-copy-edit-delete [enableDelete]="!(isLastShell | async)" (onEvent)="editDelete($event, shell)"></app-copy-edit-delete>
        </header>
        <section>
          <div class="input-container disabled">
            <label>Shell Type</label>
            <input [ngModel]="shell.type">
          </div>
          <div class="input-container disabled" (click)="$event.stopPropagation()">
            <label>Working Directory</label>
            <input [ngModel]="shell.workingDir">
          </div>
          <div class="disabled" [ngSwitch]="shell.injectionType">
            <label *ngSwitchCase="'Auto'">Automatic Script Injection</label>
            <label *ngSwitchCase="'Manual'">Manual Script Injection</label>
          </div>
        </section>
      </li>
      <li style="display: flex; align-items: center;">
        <button class="add" (click)="showAddShellDialog()"><app-icon name="mdiPlus"></app-icon></button>
      </li>
    </ul>
  </div>
  <div class="card">
    <h2>Terminal</h2>
    <div>
      <div class="input-container" (click)="$event.stopPropagation()">
        <label>Lines</label>
        <input type="number" [ngModel]="scrollbackLines | async" (change)="setScrollbackLines($event)"
             min="100">
      </div>
      <small>
        Limits the maximum number of lines stored in the terminal's buffer.
        Memory is pre-allocated based on this value to provide a seamless experience.
        Higher values result in increased memory usage.
      </small>
    </div>
    <div class="checkbox-container" (click)="toggleOpenTabInSameDirectory()">
      <label>Open Tab in Same Directory</label>
      <input type="checkbox" [checked]="openTabInSameDirectory | async">
      <span class="checkmark checkbox"></span>
      <small>Determines whether a new tab is opened in the same directory as the previously active tab.</small>
    </div>
    <div class="checkbox-container" (click)="toggleEnableCopyOnSelect()">
      <label>Enable Copy on Select</label>
      <input type="checkbox" [checked]="enableCopyOnSelect | async">
      <span class="checkmark checkbox"></span>
      <small>Automatically copies the selected text from the terminal to the clipboard.</small>
    </div>
    <div class="checkbox-container" (click)="toggleEnablePasteOnRightClick()">
      <label>Enable Paste on Right Mouse Click</label>
      <input type="checkbox" [checked]="enablePasteOnRightClick | async">
      <span class="checkmark checkbox"></span>
      <small>Right clicking will paste the contents of the clipboard into the terminal window.</small>
    </div>
  </div>
  <div class="card">
    <h2>Telemetry</h2>
    <div class="checkbox-container" (click)="toggleEnableTelemetry()">
      <label>Enable Telemetry</label>
      <input type="checkbox" [checked]="enableTelemetry | async">
      <span class="checkmark checkbox"></span>
      <small>We're only tracking your Cogno and OS version.</small>
    </div>
  </div>
</main>
<app-edit-shell-dialog *ngIf="isEditShellDialogVisible | async"></app-edit-shell-dialog>
