<section class="notification-header">
  <strong>Notifications</strong>
  <button
    class="button"
    type="button"
    [disabled]="notifications().length === 0"
    (click)="clearAll()">
    Clear all
  </button>
</section>

<section class="notification-list">
  @for (notification of notifications(); track notification.id) {
    <section class="notification" [class]="notification.type || 'info'">
      <app-icon [name]="getIcon(notification.type)"></app-icon>
      <div class="content">
        <header class="title">{{ notification.header }}</header>
        <main class="message">{{ notification.body }}</main>
        <small class="timestamp">{{notification.timestamp | timeAgo}}</small>
      </div>
      @if (notification.count > 1) {
        <div class="count" title="Occurrences">{{ notification.count }}</div>
      }
      <button class="button icon-button" (click)="remove(notification.id)">
        <app-icon [name]="'mdiClose'"></app-icon>
      </button>
    </section>
  }
</section>
