.container {
  position: fixed;
  z-index: 10000;
  left:0;
  right:0;
  bottom:0;
  top:0;
  display: flex;
  flex-direction: column;
  flex: 1;
  pointer-events: none;
}

.notification-container {
  align-self: flex-end;
  margin: 10px;
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: 1rem;
}

.space{
  flex: 1;
}

.notification {
  &.top {
    align-self: flex-start;
  }

  &.bottom {
    align-self: flex-end;
  }

  pointer-events: all;
  padding: 1rem 2rem 1rem 1rem;
  overflow: hidden;
  max-width: 400px;
  min-width: 200px;
  box-shadow: var(--shadow3);
  background-color: var(--background-color-20l);
  color: var(--foreground-color);
  border-radius: 2px;
  font-size: 1rem;
  display: flex;
  flex-direction: column;

  &.success {
    border-top: 5px solid var(--highlight-color);
  }

  &.warning {
    border-top: 5px solid var(--color-yellow);
  }

  &.error {
    border-top: 5px solid var(--color-red);
  }

  .icon {
    margin: 0 0.5rem 0 0;
    height: 20px;
    width: 20px;
    &::ng-deep svg {
      fill: var(--foreground-color);
      height: 20px;
      width: 20px;
    }
  }

  main{
    display: flex;
    flex-direction: row;
    flex: 1;

    h1 {
      margin: 0;
      font-size: 1rem;
    }

    ul {
      margin:0.5rem 0 0 0;
      padding:0;
      list-style: none;
    }

    .footer {
      padding-top: 0.5em;
      opacity: 0.7;
    }
  }

  footer {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    flex-direction: row;
    margin-top: 0.8em;
  }

  .btn {
    border: none;
    background-color: #00000000;
    color: var(--foreground-color);
    outline:none;
    margin-left: 5px;

    &.normal {

      &.default {
        background-color: var(--highlight-color);
        color: var(--background-color);
        &:hover{
          background-color: var(--highlight-color-20d);
        }
      }
      background-color: #00000011;
      border-radius: 2px;
      padding: 0.3em 1em;
      &:hover{
        background-color: #00000044;
      }
    }

    &.close {
      position: absolute;
      color: var(--foreground-color-20);
      right: 0px;
      top: 0px;
    }
  }
}

.duration-100ms {
  animation-duration: 100ms;
}

app-icon {
  height: 16px;
  width: 16px;
  &::ng-deep svg {
    fill: var(--foreground-color);
    height: 16px;
    width: 16px;
  }
}
